<!DOCTYPE html>
<html ng-app="list">
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Angular App</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular/app.js"></script>
</head>
<body ng-controller="ListController as lister">
    <h1>My Grocery List</h1>
    <section>
        <div>
            <form name="Groceries" ng-controller="FormController as formCtrl" ng-submit="formCtrl.addGrocery(formCtrl.string)" novalidate>
                <input placeholder="Missing Something?" id="grocery" ng-model="formCtrl.string" name="grocery" type="text" required>
                <button type="submit">Save</button>
                <blockquote><strong>{{formCtrl.string}}</strong></blockquote>
            </form>
        </div>
        <div>
            <h2>Items: {{lister.counter}}</h2>
        </div>

            <div ng-repeat="items in lister.items">
                <form ng-controller="SubController as subCtrl" ng-submit="subCtrl.subGrocery(items)">
                <a href="#">{{items}}</a>  <button type="submit" class="delete-item">x</button>
                </form>
            </div>

    </section>
</body>
</html>