<div class='container-fluid'>
    <aside class="col-sm-4">
        <form class="form-horizontal" ng-submit="expenseCtrl.submitExpense(expenseCtrl.description, expenseCtrl.amount)" novalidate>
            <fieldset>

                <!-- Form Name -->
                <legend>Expenses</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="expenseDescription">Description</label>
                    <div class="col-md-8">
                        <input id="expenseDescription" name="expenseDescription" type="text" placeholder="Enter a Description" class="form-control input-md" ng-model="expenseCtrl.description" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="expenseValue">Amount To Expense</label>
                    <div class="col-md-8">
                        <input id="expenseValue" name="expenseValue" type="text" placeholder="Amount" class="form-control input-md" ng-model="expenseCtrl.amount" required="">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-8">
                        <button id="expenseSubmit" name="expenseSubmit" value="submit" class="btn btn-primary">Expense It!</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </aside>
    <section class="col-sm-8 container">
        <div>
            <div class="col-lg-6 col-md-6" ng-repeat="Object in expenseCtrl.expenser track by $index">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-xs-8">
                            <h3>{{Object.description}}</h3>
                        </div>
                        <div class="col-xs-2">
                            <a href="#/view3/{{$index}}" class="btn-sm btn-info">Details</a>
                        </div>
                        <div class="col-xs-2" ng-controller="View2Controller as can">
                            <button ng-click="can.cancelExpense(Object)" class="btn-sm btn-danger">Cancel</button>
                        </div>

                    </div>
                    <div class="panel-body">
                        <h5>${{Object.amount}}</h5>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>